[submodule "tt-media-server/cpp_server/tt-llm-engine"]
	path = tt-media-server/cpp_server/tt-llm-engine
	url = https://github.com/tenstorrent/tt-llm-engine.git
	branch = main
	ignore = dirty
[submodule "logwatch/metrics"]
	path = logwatch/metrics
	url = git@github.com:tkarcheski/logwatch-metrics.git
