--extra-index-url https://pypi.eng.aws.tenstorrent.com
--extra-index-url https://download.pytorch.org/whl/cpu
tt-forge==1.2.0

tabulate
timm # input preprocessing
flax # input preprocessing
pytorchcv # for vovnet
tabulate

diffusers==0.37.1
transformers

datasets # model training
peft # model training

# yolox requirements
thop
pycocotools>=2.0.2
